.madlibs, h1 {
	text-align: center;
	color: white;
	margin-top: 75px;
	font-size: 50px;
	font-family: 'Shadows Into Light', cursive;
}

body {
	background-color: teal;
}

.buttons{
	display: flex;
	justify-content: center;
}

button {
	
	padding: 2em;
	background-color: black;
	color: white;
	border-radius: 3px;
}